<div class="flex flex-col gap-4">
	<section class="bg-dark text-primary px-4 flex">
		<div class="flex flex-col gap-6">
			<div class="flex flex-col gap-4">
				<h5 class="text-gold uppercase">Kvalitet • tillid • holdbare løsninger</h5>
				<h3>Din murer i København</h3>
				<p>Badeværelser, flisearbejde og reparationer udført med kvalitet ned til detaljen</p>
			</div>
			<div class="flex flex-col gap-2">
				<div class="flex flex-row gap-2">
					<fa-icon [icon]="['far', 'circle-check']" class="text-gold"></fa-icon>
					<p>Speciale i badeværelser</p>
				</div>
				<div class="flex flex-row gap-2">
					<fa-icon [icon]="['far', 'circle-check']" class="text-gold"></fa-icon>
					<p>Kvalitet ned til detaljen i badeværelser</p>
				</div>
				<div class="flex flex-row gap-2">
					<fa-icon [icon]="['far', 'circle-check']" class="text-gold"></fa-icon>
					<p>Detaljer der gør forskellen</p>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<app-button [variant]="ButtonVariant.Primary">
					<mat-icon svgIcon="file-signature" class="!w-4 !h-4 text-base"></mat-icon>
					<span class="uppercase">Få et tilbud</span>
				</app-button>
				<app-button [variant]="ButtonVariant.Secondary">
					<mat-icon svgIcon="phone" class="!w-4 !h-4 text-base"></mat-icon>
					<span class="uppercase">Ring 52 60 51 05</span>
				</app-button>
			</div>
		</div>
	</section>
	<section class="bg-light text-light">
		<div class="grid grid-cols-2 gap-2 p-2">
			<div class="trust-indicator-bar-item shadow-soft bg-white rounded-lg  flex flex-col gap-3 items-center sm:items-start">
				<mat-icon svgIcon="shield" class="text-gold !w-12 !h-12"></mat-icon>
				<div class="trust-indicator-bar-item-content text-center sm:text-start">
					<h5>+5 års erfaring</h5>
					<p>Solidt håndværk og mange tilfredse kunder</p>
				</div>
			</div>
			<div class="trust-indicator-bar-item shadow-soft bg-white rounded-lg p-2 flex flex-col gap-3 items-center sm:items-start">
				<mat-icon svgIcon="shield" class="text-gold !w-12 !h-12"></mat-icon>
				<div class="trust-indicator-bar-item-content text-center sm:text-start">
					<h5>Gratis tilbud</h5>
					<p>Få et tilbud helt gratis<br> - uden bindinger</p>
				</div>
			</div>
			<div class="trust-indicator-bar-item shadow-soft bg-white rounded-lg  flex flex-col gap-3 items-center sm:items-start">
				<mat-icon svgIcon="shield" class="text-gold !w-12 !h-12"></mat-icon>
				<div class="trust-indicator-bar-item-content text-center sm:text-start">
					<h5>Svar indenfor 24 timer</h5>
					<p>Vi vender hurtigt tilbage med et konkret tilbud</p>
				</div>
			</div>
			<div class="trust-indicator-bar-item shadow-soft bg-white rounded-lg  flex flex-col gap-3 items-center sm:items-start">
				<mat-icon svgIcon="shield" class="text-gold !w-12 !h-12"></mat-icon>
				<div class="trust-indicator-bar-item-content text-center sm:text-start">
					<h5>København & omegn</h5>
					<p>Vi dækker hele København og Nordsjælland</p>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-light text-light pt-8 pb-4 px-4">
		<div class="flex flex-col gap-6">
			<h4 class="text-gold">Vores ydelser</h4>
			<h3>Vi løser dine mureropgaver</h3>
			<div class="flex flex-row gap-4 h-max">
				<img src="bathrooms/bathroom4.png" class="rounded-lg object-cover h-48 w-32">
				<div class="flex flex-col gap-6 py-6 h-max">
					<h4>Badeværelser</h4>
					<p>Vi opbygger og renoverer badeværelser med fokus på kvalitet og funktion og et flot resultat</p>
				</div>
			</div>
			<div class="flex flex-row gap-4 h-max">
				<img src="bathrooms/bathroom4.png" class="rounded-lg object-cover h-48 w-32">
				<div class="flex flex-col gap-6 py-6 h-max">
					<h4>Flisearbejde</h4>
					<p>Vi opbygger og renoverer badeværelser med fokus på kvalitet og funktion og et flot resultat</p>
				</div>
			</div>
			<div class="flex flex-row gap-4 h-max">
				<img src="bathrooms/bathroom4.png" class="rounded-lg object-cover h-48 w-32">
				<div class="flex flex-col gap-6 py-6 h-max">
					<h4>Reparationer</h4>
					<p>Vi opbygger og renoverer badeværelser med fokus på kvalitet og funktion og et flot resultat</p>
				</div>
			</div>
			<div class="flex flex-row gap-4 h-max">
				<img src="bathrooms/bathroom4.png" class="rounded-lg object-cover h-48 w-32">
				<div class="flex flex-col gap-6 py-6 h-max">
					<h4>Effektive løsninger</h4>
					<p>Vi opbygger og renoverer badeværelser med fokus på kvalitet og funktion og et flot resultat</p>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-dark p-6 flex flex-col gap-6">
		<div class="flex flex-row gap-4">
			<mat-icon svgIcon="chat" class="text-gold"></mat-icon>
			<div class="flex flex-col gap-2 text-primary !text-white h-max">
				<h4>Effektive løsninger</h4>
				<p>Vi går aldrig, før du er <br>fuldt ud tilfreds.</p>
			</div>
		</div>
		<div class="flex flex-row gap-4">
			<mat-icon svgIcon="chat" class="text-gold"></mat-icon>
			<div class="flex flex-col gap-2 text-primary !text-white h-max">
				<h4>Effektive løsninger</h4>
				<p>Du får løbende besked og <br>fuldt overblik</p>
			</div>
		</div>
		<div class="flex flex-row gap-4">
			<mat-icon svgIcon="chat" class="text-gold"></mat-icon>
			<div class="flex flex-col gap-2 text-primary !text-white h-max">
				<h4>Gennemsigtige aftaler</h4>
				<p>Ingen skjulte omkostninger <br>- kun klare aftaler</p>
			</div>
		</div>
		<div class="flex flex-row gap-4">
			<mat-icon svgIcon="chat" class="text-gold"></mat-icon>
			<div class="flex flex-col gap-2 text-primary !text-white h-max">
				<h4>Forsikringssager</h4>
				<p>Vi hjælper dig med <br>reparationer efter skader</p>
			</div>
		</div>
	</section>
	<section class="bg-light text-light flex flex-col gap-6 px-4 py-8">
		<div class="flex flex-col gap-4">
			<h5 class="text-gold uppercase">Sådan arbejder vi</h5>
			<h3>En tryg proces fra <br>start til slut</h3>
		</div>
		<div class="flex flex-col gap-2">
			<div class="flex flex-col gap-2">
				<div class="flex flex-row gap-4">
					<div class="flex flex-col gap-1">
						<div class="w-12 h-12 rounded-full bg-sand flex items-center justify-center">
							<mat-icon svgIcon="phone"></mat-icon>
						</div>
						<div class="line self-center"></div>
					</div>
					<div class="flex flex-col gap-2 pb-8">
						<h5>Kontakt os</h5>
						<p>Fortæl os om din opgave via formularen eller ring til os.</p>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="flex flex-row gap-4">
					<div class="flex flex-col gap-1">
						<div class="w-12 h-12 p-2 rounded-full bg-sand flex items-center justify-center">
							<fa-icon [icon]="['far', 'file-lines']" size="2xl"></fa-icon>
						</div>
						<div class="line self-center"></div>
					</div>
					<div class="flex flex-col gap-2 pb-8">
						<h5>Kontakt os</h5>
						<p>Du modtager et gratis og<br> uforpligtende tilbud indenfor <br>24 timer</p>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="flex flex-row gap-4">
					<div class="flex flex-col gap-1">
						<div class="w-12 h-12 rounded-full bg-sand flex items-center justify-center">
							<mat-icon svgIcon="hammer"></mat-icon>
						</div>
						<div class="line self-center"></div>
					</div>
					<div class="flex flex-col gap-2 pb-8">
						<h5>Vi udfører opgaven</h5>
						<p>Vi går i gang til aftalt tid og<br> leverer håndværk i højeste<br>kvalitet</p>
					</div>
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<div class="flex flex-row gap-4">
					<div class="flex flex-col gap-1">
						<div class="w-12 h-12 p-2 rounded-full bg-sand flex items-center justify-center">
							<fa-icon [icon]="['far', 'check-circle']" size="2xl"></fa-icon>
						</div>
					</div>
					<div class="flex flex-col gap-2">
						<h5>Levering & opfølgning</h5>
						<p>Vi gennemgår arbejdet<br>sammen med dig og sikrer,<br>at alt er, som det skal være.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-main text-primary px-4 py-6">
		<div class="flex flex-col gap-4">
			<div class="flex flex-col gap-4">
				<h4 class="text-gold uppercase">Sådan arbejder vi</h4>
				<h3>En tryg proces fra <br>start til slut</h3>
			</div>
			<div class="flex flex-col gap-4">
				<div class="flex flex-col gap-2">
					<img src="bathrooms/bathroom1.png" class="object-cover rounded-lg max-h-64"/>
					<h5>Badeværelse</h5>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Page wrapper -->
<div class="flex flex-col">

	<!-- Logo bar -->
	<section class="bg-white">
		<div class="flex justify-center items-center h-24 px-6">
			<a href=""><img src="logo.svg" class="h-18"></a>
		</div>
	</section>

	<!-- Hero -->
	<section id="header-section" class="text-white">
		<div class="flex flex-col gap-6 px-6 py-48">
			<h2 class="text-3xl">Murerfirmaet Mvo ApS </h2>
			<h4 class="text-xl font-normal">Badeværelser og flisearbejde i topklasse</h4>

			<ul class="flex flex-col ga px-2">
				<li class="flex flex-row gap-2 items-center">
					<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon>
					<span class="text-xl font-normal">Speciale i badeværelser</span>
				</li>
				<li class="flex flex-row gap-2 items-center">
					<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon>
					<span class="text-xl font-normal">Skarpe detaljer & finish</span>
				</li>
				<li class="flex flex-row gap-2 items-center">
					<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon>
					<span class="text-xl font-normal">Effektive løsninger</span>
				</li>
			</ul>

			<div class="flex flex-row gap-2">
				<a href="/kontakt" class="flex flex-row gap-1 items-center bg-[#2d416d] px-6 py-4 rounded-lg">
					<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon>
					<span class="text-nowrap">Kontakt os</span>
				</a>
				<a href="tel:+4552605105" class="flex flex-row gap-1 items-center bg-[#74ada6] px-6 py-4 rounded-lg">
					<fa-icon [icon]="['fas', 'phone']" class="scale-x-[-1]"></fa-icon>
					<span class="text-nowrap">52 60 51 05</span>
				</a>
			</div>
		</div>
	</section>

	<!-- Services -->
	<section class="bg-white">
		<div class="flex flex-col gap-6 px-6 pt-12">
			<h3 class="text-2xl font-bold leading-8">Erfaren murer i København</h3>

			<p class="text-sm leading-6">
				Hos Murerfirmaet MVO ApS arbejder vi primært med badeværelser og flisearbejde, hvor kvalitet, sans for detaljer og holdbare løsninger altid er i fokus.
				<br><br>
				Vi lægger vægt på en tæt og tryg proces fra start til slut. Hos os får du klar kommunikation, gennemsigtige aftaler og et resultat, vi kan stå inde for – hver gang.
			</p>

			<ul class="list-disc list-inside flex flex-col gap-2 text-sm ms-2">
				<li>Badeværelser</li>
				<li>Flisearbejde</li>
				<li>Facaderenovering</li>
				<li>Reparationer og forsikringssager</li>
				<li>Mindre mureropgaver</li>
			</ul>

			<p class="text-sm leading-6">
				Har du en opgave, er du altid velkommen til at kontakte os.
			</p>

			<div class="flex flex-row gap-2 text-white">
				<a href="/kontakt" class="flex flex-row gap-1 items-center bg-[#2d416d] px-6 py-4 rounded-lg">
					<fa-icon [icon]="['fas', 'angle-right']" size="xs"></fa-icon>
					<span class="text-nowrap">Skriv til os</span>
				</a>
				<a href="tel:+4552605105" class="flex flex-row gap-1 items-center bg-[#74ada6] px-6 py-4 rounded-lg">
					<fa-icon [icon]="['fas', 'phone']" class="scale-x-[-1]"></fa-icon>
					<span class="text-nowrap">45 52 60 51 05</span>
				</a>
			</div>

			<img src="profile.png" class="h-80 w-full object-cover rounded-lg">
		</div>
	</section>

	<!-- Competencies -->
	<section class="bg-white">
		<div class="flex flex-col gap-1 px-1 py-8">
			<h2 class="text-center font-bold text-4xl text-black mb-8">Kompetencer</h2>

			<div class="flex flex-col gap-1 text-white">
				<div class="flex flex-col gap-2 py-12 px-6 overflow-hidden rounded" id="bathrooms">
					<h3 class="text-xl font-bold">Badeværelser</h3>
					<p class="text-sm leading-6">Specialisering af totalrenovering af badeværelser – for et garanteret færdigt æstetisk finish.</p>
				</div>
				<div class="flex flex-col gap-2 py-12 px-6 overflow-hidden rounded" id="repairs">
					<h3 class="text-xl font-bold">Reparationer og forsikringsager</h3>
					<p class="text-sm leading-6">Vi håndterer både mindre reparationer og større forsikringssager med erfaring og effektivitet.</p>
				</div>
				<div class="flex flex-col gap-2 py-12 px-6 overflow-hidden rounded" id="tile-work">
					<h3 class="text-xl font-bold">Flisearbejde</h3>
					<p class="text-sm leading-6">Med et skarpt øje for detaljer lægger vi fliser i alle formater og mønstre – både indendørs og udendørs.</p>
				</div>
				<div class="flex flex-col gap-2 py-12 px-6 overflow-hidden rounded" id="special-solutions">
					<h3 class="text-xl font-bold">Specialløsninger</h3>
					<p class="text-sm leading-6">Har I et projekt med særlige krav eller udfordringer? Vi finder skræddersyede løsninger tilpasset jeres behov og ønsker.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- kontakt -->
	<section id="contact">
		<div class="py-20 px-4">
			<div class="flex flex-col gap-4 px-6 py-4 bg-white rounded">
				<h3 class="text-2xl font-bold leading-8">Kontakt os for mere information </h3>
				<p>
					Er I interesserede i at høre mere om vores
					virksomhed, eller mangler I murere til et
					specifikt projekt? Fang os telefonisk på telefon <a href="tel:+4552605105" class="link-color underline">52 60 51 05</a> eller skriv til os på vores mail
					<a href="mailto:mvomikeosbeck2600@gmail.com" class="link-color underline">mvomikeosbeck2600&#64;gmail.com</a>.
				</p>
				<p>
					Vi har også en <a href="/kontakt" class="link-color underline">kontaktformular</a> her på vores hjemmeside, som I kan gå ind og benytte. Vi håber at høre fra jer inden længe, så vi
					kan gøre jeres projekt til en realitet.
				</p>
			</div>
		</div>
	</section>
</div>
