.trust-indicator-bar-item {
	display: flex;
	gap: 1.5rem;
	padding-block: 2rem;

	&-content {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		max-width: 15rem;
	}
}

.line {
	flex: 1;
	width: 2px;
	border-left: 3px dotted var(--border-gold);
	min-height: 32px;
}

button  {
	line-height: 1.75rem;
}

#shop {
	width: 180px;
}

#first-panel {
	padding: 8rem 2rem;
}

%bg-base {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100px;
	width: 100%;
}

#header-section {
	@extend %bg-base;
	background-image: url(#{"/bathrooms/bathroom3.png"});
}

#bathrooms {
	@extend %bg-base;
	background-image: url(#{"/bathrooms/bathroom3.png"});
}

#repairs {
	@extend %bg-base;
	background-image: url(#{"/repairs/image0.jpeg"});
}

#tile-work {
	@extend %bg-base;
	background-image: url(#{"/tile-work/image0.png"});
}

#special-solutions {
	@extend %bg-base;
	background-image: url(#{"/special-solutions/image0.png"});
}

#contact {
	@extend %bg-base;
	background-image: url(#{"/tile-work/image4.png"});
}
